<h1><%= @matter.cause_number%></h1>

<h2>Details</h2>


<h2>Users</h2>

<h2>Documents</h2>
<div class="mdl-layout__content">
  <div class="mdl-page-content">
    <%= render partial: 'event_form'%>
  </div>
</div>


<h2>Events</h2>

<h6>Add Event:</h6>

<div class="mdl-layout__content">
  <div class="mdl-page-content">
    <%= render partial: 'event_form'%>
  </div>
</div>
